/*
font-family: "Playfair Display", serif;
font-family: "Josefin Slab", serif;
*/
:root {
  --color-background-hero: #a5ad9f;
  --color-button-hero: #373f47;
  --font-family-header-1: "Playfair Display", serif;
  --font-family-default: "Josefin Slab", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-header-1);
}
h2 {
  font-size: 50px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.hero {
  background-color: var(--color-background-hero);
  font-family: var(--font-family-default);
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-family: var(--font-family-header-1);
  font-weight: bold;
  font-size: 60px;
}
.hero h2 {
  font-family: var(--font-family-default);
  font-size: 30px;
  font-weight: normal;
  line-height: 2;
}
.hero p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.btn-branding {
  background: var(--color-button-hero);
  color: white;
  font-size: 25px;
  line-height: 27px;
  padding: 10px 20px;
}
.btn-branding-outline {
  border: 1px solid var(--color-button-hero);
  color: var(--color-button-hero);
  font-size: 15px;
  line-height: 25px;
  padding: 5px 10px;
}
.project-description {
  padding: 50px 20px 50px;
}
img {
  padding: 50px 20px 50px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0 0 40px;
    text-align: center;
  }
}
